body{
  background-color:lightgrey;
}

h1{
  text-align:center;
}

article{
  background-color: #E5E7EB;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  box-shadow: 1px 2px 4px;
}

article h4{
  margin-top: 2%;
  margin-right: 5%;
  text-align:justify;
}

article #content{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text-align:justify;
}

article #writer{
  margin-top: 2%;
  margin-bottom: 4%;
  text-align:right;
}

article time{
  margin-bottom: 4%;
  margin-left: 5%;
  margin-top: 2%;
  text-align:right;
}

#menu{
  overflow:hidden;
  position:fixed;
  top: 0;
  left: 0;
  background-color:darkgrey;
  width:100%;
  height: 8%;
  padding-left: 5%;
}

#menu a{
  float : inline-block;
  text-align:center;
  padding: 5% 5%;
}

#bodyContent{
  margin-top:5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom:5%;
}

#footerContent{
  overflow:hidden;
  position:fixed;
  background-color:#2C2C2C;
  width:100%;
  bottom: 0;
  left: 0;
  height: 8%;
  text-align:center;
  color:honeydew;
}
