
/*Main CSS*/

body{
  background-color:lightgrey;
  font-family: helvetica, sans-serif, Arial;
}

h1, h2, h3{
  text-align:center;
}

h2{
  font-style: italic;
}

h3{
  padding-top:2%;
  font-style:italic;
  font-size: 24px;
  text-align:center;
}

article{
  background-color: #E5E7EB;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  box-shadow: 1px 2px 4px;
}

article h4{
  padding-top: 3%;
  margin-left: 7%;
  font-size:22px;
  text-align:justify;
}

article #content{
  position:relative;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  margin-bottom:3%;
  padding-top:2%;
  padding-bottom:2%;
  text-align:justify;
  border-top-style: dashed;
  border-top-color: #BBC6CE /*#959595*/;
  border-bottom-style: dashed;
  border-bottom-color: #BBC6CE;
}

article #writer{
  margin-top: 2%;
  padding-bottom: 5%;
  margin-left:76.5%;
  font-size: 14px;
}

article time{
  padding-bottom: 5%;
  margin-left: 3%;
  margin-top: 2%;
  right:0;
  font-size: 14px;
}

#menu{
  overflow:hidden;
  position:fixed;
  top: 0;
  left: 0;
  background-color:darkgrey;
  width:100%;
  height: 8%;
  padding-left: 9.5%;
  z-index: 99;
}

#menu a{
  color:honeydew;
  font-style: italic;
  font-size:22px;
  display : inline-block;
  text-align:center;
  padding-top:1.5%;
  padding-right:9.5%;
  text-decoration: none;
}

#bodyContent{
  margin-top:5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom:5%;
}

#footerContent{
  overflow:hidden;
  position:fixed;
  background-color:#2C2C2C;
  width:100%;
  bottom: 0;
  left: 0;
  height: 8%;
  text-align:center;
  color:honeydew;
}


/*News*/
#introduction img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#introduction #catchphrase{
  font-size:20px;
  padding-left: 35.5%;
  padding-top:0%;
}

#introduction p{
  text-align:center;
}

#news h4{
  position:relative;
}

#news #content{
  display: inline-block;
}

#news #content #img1{
  padding-right:2%;
  margin-bottom:2%;
  float:left;
}

#news #content #img2{
  padding-left:2%;
  float:right;
}


/*Setting*/
#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Contact*/
#contact #content{
  display:inline-block;
}

#fbButton img{
  float:
  padding-top:5%;
  padding-right:10%;
  width:10%;
}

#twButton img{
  padding-top:5%;
  padding-right:10%;
  width:10%;
}
